#waymap {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    margin-top: 50px;
    border: 1px solid #e6e6e6;
}
#waymap .map {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    right: 50px;
}
#waymap .wayinfo {
    padding: 100px;
}
#waymap .wayinfo > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    border-top: 1px;
}
#waymap .wayinfo > p {
    margin-top: 10px;
}
#waymap .wayinfo a {
    text-decoration: underline;
}
